<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Edit film</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<header th:insert="~{parts/header.html :: header}"> </header>

<div class="container my-3">
  <form method="post" th:action="@{/edit/{id}(id=${film.id})}" enctype="multipart/form-data">

    <div class="form-group">
      <label>Name</label>
      <input type="text" th:value="${film.name}" class="form-control" name="name" placeholder="Enter name">
    </div>

    <div class="form-group">
      <label>Url</label>
      <input type="text" th:value="${film.url}" class="form-control" name="url" placeholder="Enter url">
    </div>

    <div class="form-group">
      <label>Rating</label>
      <input type="text" th:value="${film.rating}" class="form-control" name="rating" placeholder="Enter rating">
    </div>

    <div class="form-group">
      <label>Description</label>
      <input type="text" th:value="${film.description}" class="form-control" name="description"
             placeholder="Enter description">
    </div>

    <div class="form-group">
      <label>Image</label>
      <input type="file" class="form-control" name="file"/>
    </div>

    <h2>Country</h2>
    <div th:each="c : ${countries}">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" name="country" th:value="${c}" id="defaultCheck3">
        <label th:text="${c}" class="form-check-label" for="defaultCheck3">
        </label>
      </div>
    </div>

    <!--    <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>-->
    <h2>Genre</h2>
    <div th:each="genre : ${genres}">
      <div th:if="${#lists.contains(filmGenres, genre)}">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" name="genre" th:value="${genre.id}" id="defaultCheck1" checked>
          <label th:text="${genre.name}" class="form-check-label" for="defaultCheck1">
          </label>
        </div>
      </div>

      <div th:unless="${#lists.contains(filmGenres, genre)}">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" name="genre" th:value="${genre.id}" id="defaultCheck2">
          <label th:text="${genre.name}" class="form-check-label" for="defaultCheck2">
          </label>
        </div>
      </div>

    </div>

    <div class="form-group row">
      <div class="col-sm-10">
        <input type="submit" value="Update" class="btn btn-primary"/>
      </div>
    </div>
  </form>
</div>
</body>
</html>
